.App {
  background-color: rgb(52, 142, 114);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.top-l {
  width: 600px;
}
.top-r {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.head {
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  color: #fff;
}
.p1 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.span {
  color: yellow;
}
.ul {
  list-style: circle;
  color: #fff;
  margin-top: 30px;
  margin-left: 0px;
}
.but {
  background-color: rgb(236, 67, 67);
  border-radius: 6px;
  color: #fff;
  border-width: 0px;
  height: 30px;
  width: 50px;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
}
.but-1 {
  background-color: rgb(236, 67, 67);
  border-radius: 6px;
  color: #fff;
  border-width: 0px;
  height: 30px;
  width: 100px;
  margin-top: 0px;
  cursor: pointer;
}
.p2 {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
}
.but-w {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(73, 155, 73);
  color: #fff;
  height: 30px;
  width: 100px;
  border-width: 0px;
  margin-top: 10px;
  border-radius: 6px;
  gap: 5px;
  cursor: pointer;
}
.bottom {
  margin-left: 230px;
}
.video {
  width: 450px;
  height: 250px;
}
@media (min-width: 768px) {
  .footer {
    display: none;
  }
}
@media (max-width: 768px) {
  .App {
    background-color: rgb(52, 142, 114);
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .top {
    display: flex;
    flex-direction: column;
  }
  .top-l {
    width: 300px;
  }
  .top-r {
    margin-top: 10px;
  }
  .head {
    display: none;
  }
  .ul {
    display: none;
  }
  .bottom {
    margin-left: 150px;
  }
  .video {
    height: 50px;
    width: 50px;
    margin: 10px;
  }
  .footer {
    background-color: rgb(191, 36, 36);
    width: 300px;
    padding: 5px;
    width: 100%;
    margin-top: 20px;
  }
  .head-1 {
    font-size: 20px;
    color: #fff;
  }
  .cont {
    color: #fff;
  }
}
